._7v3u{border-radius:13px;color:#fff;font-size:12px;padding:3px 5px}
._5zk7{background-color:rgba(88, 144, 255, .15);border-bottom:1px solid rgba(88, 144, 255, .3)}
._247o{background-color:#dce6f8}
._whq{background-color:#eee;color:#666}/*FB_PKG_DELIM*/

#bootloader_H_TypDy{height:42px;}.bootloader_H_TypDy{display:block!important;}