body {
    background-color: rgb(225, 225, 225);
    text-shadow: 0 0 0.6px #000000;
}
/*->->->->->->->Class<-<-<-<-<-<-<-*/
.carousel-item {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.navbar, #footer {
    background-color: rgb(44, 44, 44);
}
.navbar-link {
    text-decoration: none;
    color: white;
}
.ts {
    transform: scale(0.9);
}
.ad1 {
    background: url(images/vacation.png) no-repeat center center;
}

.ad2 {
    background: url(images/alpine.jpg) no-repeat center center;
}

.ad3 {
    background: url(images/panorama.jpg) no-repeat center center;
}
.cart-img-top {
    height: 200px;
    border-radius: 2px;
}

.form-box {
    width: 20rem;
}
.modal-content-text {
    padding: 5px 20px;
    font-family: 'Poppins', sans-serif;
}
a.disabled {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: #aaaaab;
}
.page-item {
    cursor: default;
}
.dropdown-item:hover {
    background-color:rgb(125, 125, 125);
}
footer a {
    color: #aaaaab;
}
/*->->->->->->->ID<-<-<-<-<-<-<-*/
#footer {
    position: fixed;
    width: 100%;
    bottom:0;
}
#newsletter-box {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-image: url(images/lake.jpg);
}
#navbarMenu {
    padding: 0px 10px;
}
#theme {
    padding: 0;
}
#postContainer {
    height: 1000px;
    overflow-y:scroll;
    direction:rtl;
}
#login,
#register {
    text-decoration: none;
}

#relativeImage {
    position: relative;
    display: flex;
    justify-content: center;
}

#absoluteTransparent {
    position: absolute;
    top: -28px;
}
#cards {
    overflow-y: scroll;
    height: 720px;
}
#bottomCards {
    margin-bottom: 70px;
}
#info {
    text-decoration: none;
    color: rgb(0, 105, 0);
}
/*->->->->->->->media<-<-<-<-<-<-<-*/
@media(max-width: 576px) {

    .headerContainer,
    #topCarousel {
        padding: 0;
        margin-top: 0 !important;
    }

    .cardContainer {
        max-height: 750px;
        overflow: scroll;
    }

    .carousel-item {
        min-height: 12rem;
    }

    #img {
        width: 100% !important;
    }
}

@media(min-width: 576px) {
    .carousel-item {
        min-height: 14rem;
    }
}

@media(min-width: 768px) {
    .carousel-item {
        min-height: 16rem;
    }

    .carousel-control-prev {
        padding-left: 50px;
    }

    .carousel-control-next {
        padding-right: 50px;
    }
}

/*->->->->->->->webkit-scroll<-<-<-<-<-<-<-*/
* {
    scrollbar-width: thin;
    /*nowe*/
    scrollbar-color: black gray;
}

*::-webkit-scrollbar {
    /*  */
    width: 12px;
}

*::-webkit-scrollbar-track {
    /*  */
    background-color: gray;
}

*::-webkit-scrollbar-thumb {
    /*  */
    background-color: #3f3f3f;
    border-radius: 20px;
}
/*------------------------------------------Shopping Cart--------------------------------------*/
                                    /*---------Navbar---------*/
.shopMenu {
    position: relative;
    display: flex;
    padding-left: 30%;
    justify-content: space-between;
}
.cartButtonContainer {
    text-align: center;
    margin-bottom: 15px;
}
.navbarBox {
    top: -15px;
    position: absolute;
    padding-right: 30px;
    width: 25%;
    border-bottom-right-radius: 150px;
    height: 70px;
    background-color: rgb(155, 44, 44);
    color: rgb(33,225,33);
    font-size: 40px;
    text-align: center;
}
.bi-basket {
    margin-left: auto;
    position: relative;
    margin-right: 30px;
    background-color: rgb(225, 225, 225);
    color:#212529;
    padding: 5px;
    font-size: 20px;
    border-radius: 4px;
}
.cartAmount {
    position: absolute;
    top: -10px;
    right: 20px;
    background-color: red;
    width: 20px;
    text-align: center;
}
.dropdownItem {
    position: relative;
}
                                    /*---------filterMenu---------*/
.filterMenu {
    text-align: center;
}
#asideButton {
    text-decoration: none;
    margin-bottom: 15px;
}
                                    /*---------products---------*/
.cardBody {
    margin-bottom: 60px;
}
.cardFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.changeWidth {
    width: 33%;
    text-align: center;
    padding-top: 3px;
    transform: scale(1.1);
    cursor: pointer;
}
.modal-dialog {
    min-width: 50%;
    max-width: 1000px;
}
.bottom {
background-color: red;
height: 400px;
width: 100%;
}