body {
    background-color: rgb(225, 225, 225);
}
/*->->->->->->->Class<-<-<-<-<-<-<-*/
.carousel-item {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.navbar, #footer {
    background-color: rgb(44, 44, 44);
}

.ad1 {
    background: url(images/vacation.png) no-repeat center center;
}

.ad2 {
    background: url(images/alpine.jpg) no-repeat center center;
}

.ad3 {
    background: url(images/panorama.jpg) no-repeat center center;
}

.cart-img-top {
    height: 200px;
    border-radius: 2px;
}

.form-box {
    width: 20rem;
}
a.disabled {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: #aaaaab;
}
footer a {
    color: #aaaaab;
}
/*->->->->->->->ID<-<-<-<-<-<-<-*/
#newsletter-box {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-image: url(images/lake.jpg);
}

#changeTheme {
    display: flex;
    flex-direction: column;
}

#login,
#register {
    text-decoration: none;
}

#relativeImage {
    position: relative;
    display: flex;
    justify-content: center;
}

#absoluteTransparent {
    position: absolute;
    top: -28px;
}
#cards {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 720px;
}
#info {
    text-decoration: none;
    color: rgb(0, 105, 0);
}
/*->->->->->->->media<-<-<-<-<-<-<-*/
@media(max-width: 576px) {

    .headerContainer,
    #topCarousel {
        padding: 0;
        margin-top: 0 !important;
    }

    .cardContainer {
        max-height: 750px;
        overflow: scroll;
    }

    .carousel-item {
        min-height: 12rem;
    }

    .cardsContainer {
        width: 80%;
    }

    #img {
        width: 100% !important;
    }
}

@media(min-width: 576px) {
    .carousel-item {
        min-height: 14rem;
    }
}

@media(min-width: 768px) {
    .carousel-item {
        min-height: 16rem;
    }

    .carousel-control-prev {
        padding-left: 50px;
    }

    .carousel-control-next {
        padding-right: 50px;
    }
}

/*->->->->->->->webkit-scroll<-<-<-<-<-<-<-*/
* {
    scrollbar-width: thin;
    /*nowe*/
    scrollbar-color: black gray;
}

*::-webkit-scrollbar {
    /*  */
    width: 12px;
}

*::-webkit-scrollbar-track {
    /*  */
    background-color: gray;
}

*::-webkit-scrollbar-thumb {
    /*  */
    background-color: #3f3f3f;
    border-radius: 20px;
}