.carousel-item {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
@media(max-width: 576px) {
    .headerContainer, #topCarousel{
        padding: 0;
        margin-top: 0 !important; 
    }
}
@media(min-width: 576px) {
    .carousel-item {
        min-height: 14rem;
    }
}

@media(min-width: 768px) {
    .carousel-item {
        min-height: 16rem;
    }

    .carousel-control-prev {
        padding-left: 50px;
    }

    .carousel-control-next {
        padding-right: 50px;
    }
}

@media(max-width: 576px) {
    .carousel-item {
        min-height: 12rem;
    }
}

.ad1 {
    background: url(images/clouds.jpg) no-repeat center center;
}

.ad2 {
    background: url(images/alpine.jpg) no-repeat center center;
}

.ad3 {
    background: url(images/panorama.jpg) no-repeat center center;
}
.cart-img-top {
    height: 200px;
}
